<div class="logo">
    <%= image_tag("cover1.jpg") %>
</div>
<br>
<h2>EPISODE ONE</h2>
<br>
<iframe class="one" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
<br><br><br>
<h1>ABOUT</h1>
<div class="aboutcard">
  <p class="about">
    INDIE-pendent is a comedic web series following the life of Indie as she tries navigating through life all while discovering herself, without trying to fall flat on her face. Follow her as she searches for romance, a job and common sensibility.
  </p>
</div>

<div class="videos">
  <h1>SEASON ONE</h1>
  <br>
    <iframe width="300" height="200"
    src="">
    </iframe>
    <iframe width="300" height="200"
    src="">
    </iframe>
    <iframe width="300" height="200"
    src="">
    </iframe>
    <iframe width="300" height="200"
    src="">
    </iframe>
  <br>
</div>
<br><br><br><br><br>
<h1>CAST BIOS</h1>
<div class="biocard">
  <div class="castpic">
    <%= image_tag("harp.jpg") %>
<h3>Harpreet Sehmbi</h3>
<a href="https://www.instagram.com/heyharp/" class="fa fa-instagram" target="_blank"></a>
&nbsp;
<a href="https://twitter.com/h_a_r_p" class="fa fa-twitter" target="_blank"></a>
</div>
<br>
<p class="bio">
Harpreet Sehmbi is an actress, writer, stand-up comedian, and improviser.  After graduating from Second City's Longform Conservatory and Conservatory Programs, is when she truly began her career in comedy. She regularly performs improv around Toronto with her troupe, The Mana Del Rays, and you can catch her performing stand-up all over Ontario.

While having worked on as an actor, INDIE-pendent is the first web series Harpreet's ever written, produced, directed and starred in. </p>

<br>
</div>
<br>

<div class="biocard">
<div class="castpic">
<%= image_tag("king.jpg") %>
<h3>King Chiu</h3>
<a href="https://twitter.com/not_oasis" class="fa fa-twitter" target="_blank"></a>
</div>
<br>
<p class="bio">King Chiu is very excited to be in his first web series INDIE-pendent!  King is a graduate of the Second City Conservatory and Longform Program.  He can be found performing regularly with comedy troupe Not Oasis around the city.</p>
</div>
