<!DOCTYPE html>
<html>
  <head>
    <title>INDIE-pendent</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <br><br><br><br><br><br><br>
    <div class="sm">
    FOLLOW US
    <a href="https://www.instagram.com/indie___pendent/" class="fa fa-instagram" target="_blank"></a>
    <a href="https://www.youtube.com/channel/UC9JY4N0t7D_BeoO8uRiplbw" class="fa fa-youtube" target="_blank"></a>
  </div>
    <br><br><br>
  </footer>
</html>
